<% include header %>
<% if (entries.length) { %>
<% entries.forEach(function(entry) { %>
<% entry %>
<div class="panel panel-default">
<div class="panel-heading">
<div class="text-muted pull-right">
 <div><%= entry.published %> </div>
 <div class=" pull-right"><a href="/edit/<%= entry.id %>" class="btn">Edit</a></div>
</div>
<%= entry.title %>
</div>
<div class="panel-body">
<%= entry.body %>
</div>
</div>
<% }) %>
<% } else { %>
No entries! <a href="/new-entry">Add one!</a>
<% } %>
<% include footer %>